Repository Wall-Brew-Co/common-beer-format, changes with the labels that .github/labeler.yml gives for each.
All labels: dotfiles, restricted, examples, spec, ingredients

.github/labeler.yml:

dotfiles:
  - .github/**/*
  - .gitignore

restricted:
  - CODE_OF_CONDUCT.md
  - CONTRIBUTING.md
  - LICENSE

examples:
  - resources/**/*

spec:
  - src/common_beer_format/specs/*

ingredients:
  - src/common_beer_format/ingredients/*

Add grain data
  src/common_beer_format/ingredients/fermentables/adjuncts.cljc
  src/common_beer_format/ingredients/fermentables/grains.cljc
  src/common_beer_format/specs/fermentables.cljc
  test/common_beer_format/ingredients_test.cljc
  test/common_beer_format/runner.cljs
Labels: spec

Bump dependencies
  project.clj
Labels: none

Bump test dependencies
  package-lock.json
Labels: none

Add deep json transformer to account for bad clojure.data.json pattern
  src/common_beer_format/parsers/json.cljc
Labels: none

Add basic hop data
  src/common_beer_format/ingredients/data.cljc
  src/common_beer_format/ingredients/hops/aroma.cljc
  src/common_beer_format/ingredients/hops/bittering.cljc
  src/common_beer_format/ingredients/hops/both.cljc
  src/common_beer_format/ingredients/hops/hops.cljc
  test/common_beer_format/ingredients_test.cljc
Labels: ingredients

Add notes on ingredient assumptions
  .gitignore
  README.md
Labels: dotfiles

Add data for common hop varietals
  README.md
  src/common_beer_format/ingredients/hops/aroma.cljc
  src/common_beer_format/ingredients/hops/bittering.cljc
  src/common_beer_format/ingredients/hops/both.cljc
  src/common_beer_format/ingredients/hops/hops.cljc
Labels: none

Update test deps
  package-lock.json
Labels: none

Add sample style
  src/common_beer_format/ingredients/styles/bjcp_2015/standard-american-beer.cljc
  src/common_beer_format/ingredients/styles/bjcp_2015/styles.cljc
  src/common_beer_format/specs/styles.cljc
Labels: spec

Add 2015 BJCP styles
  .gitignore
  src/common_beer_format/ingredients/styles/bjcp_2015/alternative_fermentables_beer.cljc
  src/common_beer_format/ingredients/styles/bjcp_2015/amber_and_brown_american_beer.cljc
  src/common_beer_format/ingredients/styles/bjcp_2015/amber_bitter_european_beer.cljc
  src/common_beer_format/ingredients/styles/bjcp_2015/amber_malty_european_lager.cljc
  src/common_beer_format/ingredients/styles/bjcp_2015/american_porter_and_stout.cljc
  src/common_beer_format/ingredients/styles/bjcp_2015/american_wild_ale.cljc
  src/common_beer_format/ingredients/styles/bjcp_2015/belgian_ale.cljc
  src/common_beer_format/ingredients/styles/bjcp_2015/british_bitter.cljc
  src/common_beer_format/ingredients/styles/bjcp_2015/brown_british_beer.cljc
  src/common_beer_format/ingredients/styles/bjcp_2015/czech_lager.cljc
  src/common_beer_format/ingredients/styles/bjcp_2015/dark_british_beer.cljc
  src/common_beer_format/ingredients/styles/bjcp_2015/dark_european_lager.cljc
  src/common_beer_format/ingredients/styles/bjcp_2015/european_sour_ale.cljc
  src/common_beer_format/ingredients/styles/bjcp_2015/fruit_beer.cljc
  src/common_beer_format/ingredients/styles/bjcp_2015/german_wheat_beer.cljc
  src/common_beer_format/ingredients/styles/bjcp_2015/historic_beer.cljc
  src/common_beer_format/ingredients/styles/bjcp_2015/international_lager.cljc
  src/common_beer_format/ingredients/styles/bjcp_2015/ipa.cljc
  src/common_beer_format/ingredients/styles/bjcp_2015/irish_beer.cljc
  src/common_beer_format/ingredients/styles/bjcp_2015/pale_american_ale.cljc
  src/common_beer_format/ingredients/styles/bjcp_2015/pale_bitter_european_beer.cljc
  src/common_beer_format/ingredients/styles/bjcp_2015/pale_commonwealth_beer.cljc
  src/common_beer_format/ingredients/styles/bjcp_2015/pale_malty_european_lager.cljc
  src/common_beer_format/ingredients/styles/bjcp_2015/scottish_ale.cljc
  src/common_beer_format/ingredients/styles/bjcp_2015/smoked_beer.cljc
  src/common_beer_format/ingredients/styles/bjcp_2015/specialty_beer.cljc
  src/common_beer_format/ingredients/styles/bjcp_2015/spiced_beer.cljc
  src/common_beer_format/ingredients/styles/bjcp_2015/standard_american_beer.cljc
  src/common_beer_format/ingredients/styles/bjcp_2015/strong_american_ale.cljc
  src/common_beer_format/ingredients/styles/bjcp_2015/strong_belgian_ale.cljc
  src/common_beer_format/ingredients/styles/bjcp_2015/strong_british_ale.cljc
  src/common_beer_format/ingredients/styles/bjcp_2015/strong_european_beer.cljc
  src/common_beer_format/ingredients/styles/bjcp_2015/trappist_ale.cljc
  src/common_beer_format/ingredients/styles/bjcp_2015/wood_beer.cljc
Labels: dotfiles

Add accessor for 2015 BJCP guidelines, tests
  src/common_beer_format/data/data.cljc
  src/common_beer_format/data/styles/bjcp_2015/bjcp_2015.cljc
  src/common_beer_format/data/styles/bjcp_2015/fruit_beer.cljc
  test/common_beer_format/data_test.cljc
Labels: none
