Repository Wall-Brew-Co/common-beer-format, changes with the labels that .github/labeler.yml gives for each.
All labels: dotfiles, restricted, examples

.github/labeler.yml:

dotfiles:
  - .github/**/*

restricted:
  - CODE_OF_CONDUCT.md
  - CONTRIBUTING.md
  - LICENSE

examples:
  - resources/**/*

Add miscs record
  src/common_beer_format/miscs.cljc
  src/common_beer_format/primitives.cljc
  src/common_beer_format/yeasts.cljc
Labels: none

Add water record
  src/common_beer_format/waters.cljc
Labels: none

Use spec tools for defining records as well as their constituent parts
  src/common_beer_format/fermentables.cljc
  src/common_beer_format/hops.cljc
  src/common_beer_format/miscs.cljc
  src/common_beer_format/waters.cljc
  src/common_beer_format/yeasts.cljc
Labels: none

Add example equipment record
  resources/xml/equipment.xml
Labels: examples

Add boolean primitive
  src/common_beer_format/fermentables.cljc
  src/common_beer_format/primitives.cljc
  src/common_beer_format/yeasts.cljc
Labels: none

Add equipment definition
  src/common_beer_format/equipment.cljc
Labels: none

Implement beer styles, repeat text spec
  src/common_beer_format/fermentables.cljc
  src/common_beer_format/hops.cljc
  src/common_beer_format/miscs.cljc
  src/common_beer_format/primitives.cljc
  src/common_beer_format/styles.cljc
  src/common_beer_format/yeasts.cljc
  test/common_beer_format/primitives_test.cljc
Labels: none

Implement mash spec
  src/common_beer_format/equipment.cljc
  src/common_beer_format/fermentables.cljc
  src/common_beer_format/mash.cljc
Labels: none

Add recipe spec
  src/common_beer_format/recipes.cljc
Labels: none

Tweaks and bugfixes to handle BeerXML ingestion and coercion
  src/common_beer_format/core.cljc
  src/common_beer_format/equipment.cljc
  src/common_beer_format/fermentables.cljc
  src/common_beer_format/hops.cljc
  src/common_beer_format/mash.cljc
  src/common_beer_format/miscs.cljc
  src/common_beer_format/primitives.cljc
  src/common_beer_format/recipes.cljc
  src/common_beer_format/styles.cljc
  src/common_beer_format/waters.cljc
  src/common_beer_format/yeasts.cljc
Labels: none

Clean up specs into a separate folder, and properly encode/decode embedded sequences
  src/common_beer_format/core.cljc
  src/common_beer_format/parsers/json.cljc
  src/common_beer_format/parsers/xml.cljc
  src/common_beer_format/specs/equipment.cljc
  src/common_beer_format/specs/fermentables.cljc
  src/common_beer_format/specs/hops.cljc
  src/common_beer_format/specs/mash.cljc
  src/common_beer_format/specs/miscs.cljc
  src/common_beer_format/specs/primitives.cljc
  src/common_beer_format/specs/recipes.cljc
  src/common_beer_format/specs/styles.cljc
  src/common_beer_format/specs/waters.cljc
  src/common_beer_format/specs/yeasts.cljc
  src/common_beer_format/util.cljc
Labels: none

Use XML examples of real data to suss out errors and build better tests
  src/common_beer_format/core.cljc
  src/common_beer_format/specs/equipment.cljc
  src/common_beer_format/specs/fermentables.cljc
  src/common_beer_format/specs/hops.cljc
  src/common_beer_format/specs/mash.cljc
  src/common_beer_format/specs/miscs.cljc
  src/common_beer_format/specs/primitives.cljc
  src/common_beer_format/specs/recipes.cljc
  src/common_beer_format/specs/styles.cljc
  src/common_beer_format/specs/waters.cljc
  src/common_beer_format/specs/yeasts.cljc
  src/common_beer_format/util.cljc
  test/common_beer_format/fermentables_test.cljc
  test/common_beer_format/hops_test.cljc
  test/common_beer_format/primitives_test.cljc
  test/common_beer_format/runner.cljs
  test/common_beer_format/xml_sample_test.clj
Labels: none

Add sample json file
  resources/json/fermentables.json
Labels: examples

Add json parsing test cases
  resources/json/equipment.json
  resources/json/hops.json
  resources/json/mash.json
  resources/json/miscs.json
  resources/json/recipes.json
  resources/json/style.json
  resources/json/waters.json
  resources/json/yeasts.json
  test/common_beer_format/json_sample_test.clj
Labels: examples

Update license info
  LICENSE
Labels: restricted

Bump spec tools version
  project.clj
  src/common_beer_format/core.cljc
Labels: none

Final tweaks to prepadre for deployment
  README.md
  package-lock.json
  package.json
  project.clj
  src/common_beer_format/core.cljc
Labels: none

Add change notes
  CHANGELOG.md
Labels: none

Fix typos
  src/common_beer_format/specs/mash.cljc
  src/common_beer_format/specs/recipes.cljc
Labels: none

Fix typos
  src/common_beer_format/specs/miscs.cljc
Labels: none

Update docs with install information
  README.md
Labels: none

Add all 'optional' fields from BeerXML spec
  src/common_beer_format/specs/equipment.cljc
  src/common_beer_format/specs/fermentables.cljc
  src/common_beer_format/specs/hops.cljc
  src/common_beer_format/specs/mash.cljc
  src/common_beer_format/specs/miscs.cljc
  src/common_beer_format/specs/primitives.cljc
  src/common_beer_format/specs/recipes.cljc
  src/common_beer_format/specs/styles.cljc
  src/common_beer_format/specs/waters.cljc
  src/common_beer_format/specs/yeasts.cljc
Labels: none

Update docs and bump version
  CHANGELOG.md
  README.md
  package.json
  project.clj
Labels: none

Indicate percent values as 0.80 rather than 80.0 or 80%
  src/common_beer_format/specs/fermentables.cljc
Labels: none

Add extracts
  src/common_beer_format/ingredients/fermentables/extracts.cljc
Labels: none

Add dry extracts
  src/common_beer_format/ingredients/fermentables/dry_extracts.cljc
Labels: none

Add adjuncts
  src/common_beer_format/ingredients/fermentables/adjuncts.cljc
Labels: none

Add sugars
  src/common_beer_format/ingredients/fermentables/sugars.cljc
Labels: none

Add sample grain
  src/common_beer_format/ingredients/fermentables/grains.cljc
Labels: none

Add wrapper to easily get fermentable data
  src/common_beer_format/ingredients/data.cljc
Labels: none
